.fixed {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: transparent;
}

.fixed button {
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.75rem;
  transition: transform 0.3s ease-in-out;
}

.fixed button:hover {
  background: #4B5563; /* Gray-700 */
  transform: scale(1.1);
}

.fixed button:focus {
  outline: none;
}

.fixed svg {
  width: 2rem;
  height: 2rem;
}

.fixed .logo {
  display: flex;
  align-items: center;
}

.fixed .logo img {
  height: 2rem;
  margin-right: 0.5rem;
}

.fixed .logo span {
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFF;
}

/* Drawer styles */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  padding: 1.5rem;
  overflow-y: auto;
  background: #000000;
  color: #FFFFFF;
  max-width: 400px;
  transform: translateX(-100%);
  animation: none; /* Default state */
  transition: transform 0.3s ease-out; /* Smooth transition */
}


.drawer.open {
  transform: translateX(0); /* Slide in */
  animation: slideIn 0.5s ease-out;
}

.drawer.closed {
  transform: translateX(-100%); /* Slide out */
  animation: slideOut 0.5s ease-in;
}

/* Animations */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Additional Styles */
.drawer button.close:hover {
  background: #4B5563; /* Gray-700 */
  color: #F3F4F6; /* Gray-100 */
  transform: rotate(90deg);
}

.drawer nav ul li button:hover {
  background: #4B5563; /* Gray-700 */
}

@media (max-width: 768px) {
  .drawer {
    max-width: 100%; /* Full screen for small devices */
  }
}

